# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [15]:
result_diff = num2 - num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [17]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [30]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [34]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [38]:
result_mod = 10 % 3
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [42]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [48]:
name = "Travis"
print(name)

Travis

##### print() <br>
<p>Don't forget about end=' '</p>

In [52]:
print("This is my first name: ", name)

print("Full Name:", name, end=" Deubler")

This is my first name:  Travis
Full Name: Travis Deubler

##### String Concatenation

In [60]:
first_name = "Wonderwall"
last_name = "by Oasis"

full_name = first_name + " " + last_name
print(full_name)

full_name += " is tha bomb."
print(full_name)

Wonderwall by Oasis
Wonderwall by Oasis is tha bomb.

##### Type Conversion

In [62]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [68]:
age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?:  105

110

##### format()

In [74]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is such a fun age!"
print(result_again)

What is your age?  15

You are 15 Travis and you are getting wiser!
15 is such a fun age!

##### Old Way (python 2)

In [78]:
result_string2 = "You are %s and full of energy!" %age
print(result_string2)

You are 15 and full of energy!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [100]:
name = input("What's your name? ")
color = input("what's the color of your car? ")
year = input("In what year was your car made? ")
make = input("What is the make of your car? ")
model = input("What's the model of your car? ")
results = name + ", your " + year + " " + make + " " + model + "'s color is " + color + "."

print(results)

What's your name?  Travis
what's the color of your car?  black
In what year was your car made?  2013
What is the make of your car?  Toyota
What's the model of your car?  Tundra

Travis, your 2013 Toyota Tundra's color is black.

### If Statements

In [114]:
#T && F = F
num1 = 10
num2 = 5
num3 = 20

if num1 > num2 and num3 < num2:
    print("Both are True")
else:
    print("At least one condition is False")

# T && T = T
num4 = 25
num5 = 13
num6 = 44

if num4 > num5 and num6 == 44:
    print("True * 2")
else:
    print("At least one condition is false")

# T || F = T
num7 = .042
num8 = .025
num9 = 1.37

if num7 > num8 or num9 < num8:
    print("This one is True! Wooo!")
else:
    print("Both conditions are False")

# F || T = T
num10 = 59
num11 = 128
num12 = 296

if num10 > num11 or num12 > num11:
    print("This is only half True")
else: 
    print("Both conditions are false")
    
# F || F = F
num7 = 4.2
num8 = 9.03
num9 = 5

if num7 > num8 or num9 == num8:
    print("At least one condition is True")
else:
    print("False * 2")

At least one condition is False
True * 2
This one is True! Wooo!
This is only half True
False * 2

##### 'is' keyword

In [149]:
x = 'The Time is Now!'
y = "The Time is not now!"

if x is y:
    print("x and y agree!")

##### 'in' keyword

In [383]:
fruit = "I love eating banana in the morning"

if "banana" in fruit:
    print("Banana is mentioned in the text.")
else:
    print("Banana is not mentioned in the text.")

Banana is mentioned in the text.

##### 'not in' keyword'

In [124]:
sentence = "My dog's name is Playday"

if "cat" not in sentence:
    print("The word 'cat' is not in the sentence.")
else:
    print("The word 'cat' is in the sentence.")

The word 'cat' is not in the sentence.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [179]:
yewzer_input = input("What's your favorite drink? ")

if "p" in yewzer_input:
    print("p is in your favorite drink:-)")
else:
    print("Nope... no p here.")

What's your favorite drink?  pina colada

p is in your favorite drink:-)

## Using 'and'/'or' with If Statements

In [183]:
number_5 = 25
number_6 = 16
number_7 = 42
number_8 = 4

if number_6 / 4 == number_8 and number_5 - 9 == number_6:
    print("True")
if 7 * 6 == number_7 or number-5 < number_8:
    print("True as well")

True
True as well

### Elif Statements

In [197]:
temp = int(input("What is the temperature outside today? "))

if temp > 80:
    print("It's hot day.")
elif temp > 60:
    print("It's warm today.")
elif temp > 40:
    print("It's a little chilly today.")
else:
    print("Brrr it's cold.")

What is the temperature outside today?  75

It's warm today.

### Else Statements

In [199]:
snacks = input("What snacks are you having? ")

if snacks == "fruit":
    print("splendid choice!")
else:
    print("It's ok, no one will see.")

What snacks are you having?  chips

It's ok, no one will see.

### For Loops

In [201]:
text = "hello"

for letter in text:
    print(f"Letter: {letter}")

Letter: h
Letter: e
Letter: l
Letter: l
Letter: o

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [203]:
text = "Python is the best!"

for i in text:
    if i == "o":
        continue
    print(i)

P
y
t
h
n

i
s

t
h
e

b
e
s
t
!

##### Break Statement

In [ ]:
# will break out of current loop

In [205]:
text = "Python is the best!"

for i in text:
    if i == "o":
        break
    print(i)

P
y
t
h

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [213]:
for i in range(15):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

##### Double For Loops

In [215]:
str1 = "abc"
str2 = "123"

for i in str1:
    for pod in str2:
        print('i = ', i, 'pod = ', pod)

i =  a pod =  1
i =  a pod =  2
i =  a pod =  3
i =  b pod =  1
i =  b pod =  2
i =  b pod =  3
i =  c pod =  1
i =  c pod =  2
i =  c pod =  3

### While Loops

In [225]:
getting_older = 0

while getting_older < 22:
    print(getting_older)
    getting_older += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

##### Looping 'While True'

In [241]:
run = True

while run:
    print("Run forever")
    user = input("enter any letter (or type 'exit; to quit): ")
    if user == 'exit':
        run = False

Run forever

enter any letter (or type 'exit; to quit):  k

Run forever

enter any letter (or type 'exit; to quit):  exit

##### While & For Loops Used Together

In [251]:
num = 1

while num <= 5:
    print("\nNot an infinite while loop: " + str(num))

    for i in range(3):
        print("For loop: ", str(i))

    num += 1

Not an infinite while loop: 1
For loop:  0
For loop:  1
For loop:  2

Not an infinite while loop: 2
For loop:  0
For loop:  1
For loop:  2

Not an infinite while loop: 3
For loop:  0
For loop:  1
For loop:  2

Not an infinite while loop: 4
For loop:  0
For loop:  1
For loop:  2

Not an infinite while loop: 5
For loop:  0
For loop:  1
For loop:  2

### Built-In Functions

##### range()

In [277]:
for i in range(5, 201, 5):  # Start at 5, go up to 300, increment by 5
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200

##### len()

In [283]:
my_string = "What's up!"

length_of_string = len(my_string)
print("The length of the string is: " + str(length_of_string))

The length of the string is: 10

##### help()

In [285]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [287]:
x = 10

if isinstance(x, int):
    print(f"x is an integer.")
else:
    print(f"x isn't an integer.")

x is an integer.

##### abs()

In [289]:
negative_numero = -10

result = abs(negative_numero)
print(f"The absolute value of {negative_numero} is {result}.")

The absolute value of -10 is 10.

### Try and Except

In [293]:
try:
    number = int(input("Enter an integer: "))
    print(f"You entered: {number}")
except:
    print("Oh no! you didn't enter an integer!.")

Enter an integer:  7

You entered: 7

### Lists

##### Declaring Lists

In [297]:
my_empty_list = []

cars = ['Toyota', 'Honda', 'Audi', 'Mercedes', 'Chevy']
print(cars)

['Toyota', 'Honda', 'Audi', 'Mercedes', 'Chevy']

##### Indexing a List

In [303]:
print(cars[1])

print(cars[1:])

print(cars[:2])

print(cars[1::2])

print(cars[::-1])

Honda
['Honda', 'Audi', 'Mercedes', 'Chevy']
['Toyota', 'Honda']
['Honda', 'Mercedes']
['Chevy', 'Mercedes', 'Audi', 'Honda', 'Toyota']

##### .append()

In [305]:
cars.append('Ford')
print(cars)

['Toyota', 'Honda', 'Audi', 'Mercedes', 'Chevy', 'Ford']

##### .insert()

In [311]:
cars.insert(2,'Tesla')
print(cars)

['Toyota', 'Honda', 'Tesla', 'Audi', 'Chevy', 'Ford']

##### .pop()

In [313]:
car_makers = cars.pop(3)
print(car_makers)
print(cars)

Audi
['Toyota', 'Honda', 'Tesla', 'Chevy', 'Ford']


##### .remove()

In [323]:
cars.remove('Ford')
print(cars)

ValueError: list.remove(x): x not in list

##### del()

In [325]:
del(cars[1])
print(cars)

['Toyota', 'Tesla', 'Chevy']

##### Concatenating Two Lists

In [333]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [1]:
lists_inside_lists = [
    ["apple pie", "banana split", "cherry slush"],
    ["dog eat dog", "cat in the hat", "rabbit run"],
    [1, 2, 3]
]

first_list = lists_inside_lists[0]
print(f"The first list is: {first_list}")

second_list_second_item = lists_inside_lists[1][1]
print(f"The second item in the second list is: {second_list_second_item}")

third_list_third_item = lists_inside_lists[2][2]
print(f"The third item in the third list is: {third_list_third_item}")

The first list is: ['apple pie', 'banana split', 'cherry slush']
The second item in the second list is: cat in the hat
The third item in the third list is: 3

##### Looping Through Lists

In [353]:
for i in range(len(lists_inside_lists)):
    print(lists_inside_lists[i])

for i in lists_inside_lists:
    print(i)

['apple pie', 'banana split', 'cherry slush']
['dog eat dog', 'cat in the hat', 'rabbit run']
[1, 2, 3]
['apple pie', 'banana split', 'cherry slush']
['dog eat dog', 'cat in the hat', 'rabbit run']
[1, 2, 3]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [361]:
for i in range(1000):
    cubed = i ** 3
    if cubed > 1000:
        break
    print(cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [379]:
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    else:
        if is_prime:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [373]:
user_age = int(input("How old are you? "))

if user_age < 18:
    print("Kids")
if user_age < 66: 
    print("Adults")
else:
    print("Seniors")

How old are you?  92

Seniors